[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/home/mclzac19/.wine" wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
